body {
   text-align: center;
  color: teal;
  background:linear-gradient(pink,white,blue,red,gold,purple,lightblue, orange, teal,turquoise, royalblue);
    
}

h1 {
    font-size: 40px;
    font-family:fantasy;
    font-weight: 300;
}






